# Exemplo de arquivo de secrets para o AutoMeetAI
# Renomeie este arquivo para "secrets.toml" e coloque-o no diretório .streamlit
# na raiz do projeto ou no diretório .streamlit do seu usuário

# Chave de API do AssemblyAI para serviços de transcrição
[assemblyai]
api_key = "sua_chave_api_assemblyai"

# Chave de API do OpenAI para serviços de geração de texto
[openai]
api_key = "sua_chave_api_openai"